*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    z-index: 0;
    min-height: 100%;
    font-style: normal;
}
.link{
    text-decoration: none;
    color:inherit;
}
.errorPage{
    font-size: 4rem;
    color:red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
}

.slidecontainer {
    width: 100%;
   
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
     border-radius: 20px;
     border-color: blue;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: Blue;
    cursor: pointer;
    border-radius: 100%;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: Blue;
    cursor: pointer;
    border-radius: 100%;
  }

  #myProgress {
    width: 100%;
    min-width: 500px;
    background-color: #ddd;
    border:2px solid white;
    border-radius: 20px;
  }
  
  #myBar {
    height: 30px;
    background-color: blue;
    border-radius: 20px;
  }